<body id="reportsPage">
  <div class="" id="home">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand">
          <h1 class="tm-site-title mb-0">Product Admin</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="far fa-file-alt"></i>
                <span>
                  Reports
                  <i class="fas fa-angle-down"></i>
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Daily Report</a>
                <a class="dropdown-item" href="#">Weekly Report</a>
                <a class="dropdown-item" href="#">Yearly Report</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cpanel/articles/add-article">
                <i class="fas fa-shopping-cart"></i>
                Products
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="accounts.html">
                <i class="far fa-user"></i>
                Accounts
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
                <span>
                  Settings
                  <i class="fas fa-angle-down"></i>
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Billing</a>
                <a class="dropdown-item" href="#">Customize</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link d-block" href="auth/login">
                Admin,
                <b>Logout</b>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
        </div>
      </div>
      <div class="col-12 tm-block-col">
        <div style="box-shadow: 1px 1px 5px 0 #455c71; min-height: 350px; height: 100%; padding:40px;"
          class="tm-bg-primary-dark tm-block-taller ">
          <h2 class="tm-block-title">Orders List</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ARTICLE_ID</th>
                <th scope="col">TITLE</th>
                <th scope="col">IMAGE</th>
                <th scope="col">CREATE_AT</th>
                <th scope="col">CREATE_BY</th>
                <th scope="col">TOOLS</th>
              </tr>
            </thead>
            <tbody>

              {{#each list}}

              <tr>
                <th scope="row"><b>{{this._id}}</b></th>
                <td>
                  <div class="tm-status-circle moving">
                  </div>{{this.title}}
                </td>
                <td><b>
                    <img src="{{this.image}}" alt="" style="width: 100px; height: 100px;" class="rounded">
                  </b></td>
                <td><b>{{this.createdAt}}</b></td>
                <td><b>{{this.createdBy}}</b></td>
                <td>
                  <a class="font-weight text-warning" href="/cpanel/articles/{{this._id}}/detail">EDIT&emsp13;</a>
                  <a class="font-weight text-danger" onclick="confirmDelete('{{this._id}}')">DELETE</a>
                </td>

              </tr>

              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    const fetchAPI = async (url, option) => {
      const res = await fetch(url, option);
      return res.json();
    }

    const deleteArticle = async (id) => {
      const url = `/cpanel/articles/${id}/delete`;
      const option = {
        method: 'DELETE',
        headers: { 'Content-Type': 'application/json' }
      }
      try {
        const res = await fetchAPI(url, option);
        console.log(res)
        if (res.response) {
          swal("Thành công!", "Xóa sản phẩm thành công!", "success");
          setTimeout(() => { window.location.reload(); }, 1000);
        } else {
          swal("Thất bại!", "Xóa sản phẩm thất bại!", "error");
        }
      } catch (err) {
        console.log(err);
        swal("Thất bại!", "Xóa sản phẩm thất bại!", "error");
      }
    }

    const confirmDelete = (id) => {
      swal({
        title: "Xác nhận?",
        text: "Bạn có chắc chắn muốn xóa sản phẩm này không?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            deleteArticle(id)
          }
        });
    }

    const editArticle = async (id) => {
      const url = `/cpanel/articles/${id}/update`;
      const option = {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' }
      }
      try {
        const res = await fetchAPI(url, option);
        console.log(res)
        if (res.response) {
          swal("Thành công!", "Xóa sản phẩm thành công!", "success");
          setTimeout(() => { window.location.reload(); }, 1000);
        } else {
          swal("Thất bại!", "Xóa sản phẩm thất bại!", "error");
        }
      } catch (err) {
        console.log(err);
        swal("Thất bại!", "Xóa sản phẩm thất bại!", "error");
      }
    }

    const confirmEdit = (id) => {
      swal({
        title: "Xác nhận?",
        text: "Bạn có chắc chắn muốn sửa sản phẩm này không?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            editArticle(id)
          }
        });
    }

    const showModalEditArticle = (id) => {

    }
  </script>
</body>